{
  "openapi": "3.0.0",
  "info": {
    "title": "산책명소 API",
    "version": "1.0.0",
    "description": "반려견 산책 코스 추천 및 공유 플랫폼 API",
    "contact": {
      "name": "Walking Places Team",
      "email": "support@walkingplaces.com"
    }
  },
  "servers": [
    { "url": "https://walkmeong.site", "description": "Production Server" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT 토큰을 입력하세요"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "요청이 성공적으로 처리되었습니다."
          },
          "data": {
            "description": "응답 데이터",
            "type": "object",
            "example": {}
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "응답 시간"
          }
        },
        "example": {
          "success": true,
          "message": "요청이 성공적으로 처리되었습니다.",
          "data": { "id": "uuid-example" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "message": {
            "type": "string",
            "description": "에러 메시지",
            "example": "오류 메시지"
          },
          "timestamp": { "type": "string", "format": "date-time" },
          "code": { "type": "string", "example": "ERROR_CODE" }
        },
        "example": {
          "success": false,
          "message": "요청 처리 중 오류가 발생했습니다.",
          "code": "ERROR_CODE"
        }
      },
      "PaginationResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "message": { "type": "string" },
          "data": { "type": "array", "items": {} },
          "pagination": {
            "type": "object",
            "properties": {
              "currentPage": { "type": "integer" },
              "totalPages": { "type": "integer" },
              "totalItems": { "type": "integer" },
              "itemsPerPage": { "type": "integer" },
              "hasNext": { "type": "boolean" },
              "hasPrev": { "type": "boolean" }
            }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "MarkingPhotozone": {
        "type": "object",
        "properties": {
          "photozone_id": {
            "type": "string",
            "format": "uuid",
            "description": "마킹 포토존 고유 ID"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "포토존 위도"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "포토존 경도"
          },
          "course_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "코스 ID (특정 코스에 속하지 않을 수 있음)"
          },
          "is_recommended": {
            "type": "boolean",
            "description": "추천 포토존 여부"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 일시"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "수정 일시"
          }
        },
        "example": {
          "photozone_id": "7d6480c0-6218-472d-8b06-444c18f6d6f2",
          "latitude": 37.5665,
          "longitude": 126.978,
          "course_id": null,
          "is_recommended": false,
          "created_at": "2023-10-27T10:00:00Z",
          "updated_at": "2023-10-27T10:00:00Z"
        }
      },
      "MarkingPhoto": {
        "type": "object",
        "properties": {
          "photo_id": {
            "type": "string",
            "format": "uuid",
            "description": "마킹 포토 고유 ID"
          },
          "photo_url": { "type": "string", "description": "사진 URL" },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 일시"
          }
        },
        "example": {
          "photo_id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
          "photo_url": "http://example.com/photo1.jpg",
          "created_at": "2023-10-27T10:05:00Z"
        }
      },
      "PhotozoneDetailsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "photozone": { "$ref": "#/components/schemas/MarkingPhotozone" },
              "photos": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MarkingPhoto" }
              },
              "is_marked_by_user": {
                "type": "boolean",
                "description": "현재 사용자가 이 포토존에 사진을 마킹했는지 여부"
              }
            }
          }
        },
        "example": {
          "success": true,
          "message": "포토존 상세 정보를 성공적으로 조회했습니다.",
          "data": {
            "photozone": {
              "photozone_id": "7d6480c0-6218-472d-8b06-444c18f6d6f2",
              "latitude": 37.5665,
              "longitude": 126.978,
              "is_recommended": false
            },
            "photos": [
              {
                "photo_id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                "photo_url": "http://example.com/photo1.jpg",
                "created_at": "2023-10-27T10:05:00Z"
              }
            ],
            "is_marked_by_user": false
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "location_id": {
            "type": "string",
            "format": "uuid",
            "example": "389f5918-7869-41f6-adb9-86f1111ededd",
            "description": "위치 고유 ID"
          },
          "addressName": {
            "type": "string",
            "example": "전북특별자치도 전주시 덕진구 백제대로 567",
            "description": "전체 도로명 주소"
          },
          "areaName": {
            "type": "string",
            "example": "덕진구",
            "description": "구 단위 행정 구역"
          },
          "city": {
            "type": "string",
            "example": "전주시",
            "description": "시 단위 행정 구역"
          },
          "province": {
            "type": "string",
            "example": "전북특별자치도",
            "description": "도 단위 행정 구역"
          },
          "latitude": {
            "type": "string",
            "example": "35.84113827",
            "description": "위도"
          },
          "longitude": {
            "type": "string",
            "example": "127.13158897",
            "description": "경도"
          }
        }
      },
      "Breed": {
        "type": "object",
        "properties": {
          "breed_id": {
            "type": "string",
            "format": "uuid",
            "example": "b1f8b7d4-8d4e-4f0e-8c38-8e6f1f4b8f3e",
            "description": "견종 고유 ID"
          },
          "name": {
            "type": "string",
            "example": "푸들",
            "description": "견종 이름"
          }
        }
      },
      "PresignedUrlRequest": {
        "type": "object",
        "required": ["fileName", "fileType", "uploadType"],
        "properties": {
          "fileName": {
            "type": "string",
            "example": "profile-image.jpg",
            "description": "원본 파일명"
          },
          "fileType": {
            "type": "string",
            "enum": ["image/jpeg", "image/png", "image/jpg", "image/webp"],
            "example": "image/jpeg",
            "description": "파일 MIME 타입"
          },
          "uploadType": {
            "type": "string",
            "enum": ["profile", "marking", "course_cover"],
            "example": "profile",
            "description": "업로드 타입"
          }
        }
      },
      "PresignedUrlResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "message": {
            "type": "string",
            "example": "업로드 URL이 생성되었습니다."
          },
          "data": {
            "type": "object",
            "properties": {
              "uploadUrl": {
                "type": "string",
                "example": "https://your-bucket.s3.amazonaws.com/profiles/1234-uuid.jpg?X-Amz-Algorithm=...",
                "description": "S3에 파일을 업로드할 Presigned URL"
              },
              "fileUrl": {
                "type": "string",
                "example": "https://your-bucket.s3.amazonaws.com/profiles/1234-uuid.jpg",
                "description": "업로드 완료 후 파일에 접근할 수 있는 URL"
              },
              "fileName": {
                "type": "string",
                "example": "1234-uuid.jpg",
                "description": "S3에 저장되는 고유한 파일명"
              },
              "expiresIn": {
                "type": "integer",
                "example": 300,
                "description": "Presigned URL 만료 시간(초)"
              }
            }
          }
        }
      },
      "AgreeToTermsRequest": {
        "type": "object",
        "required": ["agreedTermIds"],
        "properties": {
          "agreedTermIds": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "example": [
              "e4b6d4f9-7f9a-4e2b-b8c7-4d7a8d5f6b2d",
              "a9c7b8e5-3d8b-4a4f-9e6e-2c9b6e8a4d7c"
            ],
            "description": "동의한 약관 ID 목록"
          }
        }
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "petName": {
            "type": "string",
            "example": "해피",
            "description": "반려동물 이름"
          },
          "breedId": {
            "type": "string",
            "format": "uuid",
            "example": "cdeec739-9e92-4b40-b0f1-daa036a784fe",
            "description": "견종 ID (breeds 테이블의 PK)"
          },
          "petBirthDate": {
            "type": "string",
            "format": "date",
            "example": "2022-03-15"
          },
          "petSize": { "type": "string", "example": "중형" },
          "petProfileImageUrl": {
            "type": "string",
            "example": "https://example.com/image.jpg"
          },
          "preferredLocationId": {
            "type": "string",
            "format": "uuid",
            "example": "389f5918-7869-41f6-adb9-86f1111ededd",
            "description": "선호 위치 ID"
          }
        }
      },
      "ProfileSummary": {
        "type": "object",
        "properties": {
          "petName": {
            "type": "string",
            "example": "해피",
            "description": "반려동물 이름"
          },
          "petProfileImageUrl": {
            "type": "string",
            "example": "https://example.com/profile/happy.jpg",
            "description": "반려동물 프로필 이미지 URL"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "d4e2f8c5-9f5c-4d3e-9b8f-3a2c4e9d7b4c",
            "description": "사용자 ID"
          },
          "petName": {
            "type": "string",
            "example": "해피",
            "description": "반려동물 이름"
          },
          "dogBreed": {
            "type": "object",
            "properties": {
              "breed_id": {
                "type": "string",
                "format": "uuid",
                "example": "b1f8b7d4-8d4e-4f0e-8c38-8e6f1f4b8f3e"
              },
              "name": { "type": "string", "example": "푸들" }
            }
          },
          "preferredLocation": {
            "type": "object",
            "properties": {
              "location_id": {
                "type": "string",
                "format": "uuid",
                "example": "8b23c2d6-4e58-4c17-9c98-15c0e1763c32"
              },
              "name": { "type": "string", "example": "강남구" }
            }
          },
          "isTermsAgreed": {
            "type": "boolean",
            "example": true,
            "description": "필수 약관 동의 여부"
          }
        }
      },
      "WalkRecord": {
        "type": "object",
        "properties": {
          "walk_record_id": {
            "type": "string",
            "format": "uuid",
            "example": "e4b6d4f9-7f9a-4e2b-b8c7-4d7a8d5f6b2d",
            "description": "산책 기록 ID"
          },
          "duration": {
            "type": "integer",
            "example": 3600,
            "description": "산책 시간 (초 단위)"
          },
          "distance": {
            "type": "number",
            "example": 5.2,
            "description": "산책 거리 (km 단위)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2023-10-27T10:00:00Z",
            "description": "산책 기록 일시"
          }
        }
      },
      "WalkRecordsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "message": {
            "type": "string",
            "example": "산책 기록 목록이 조회되었습니다."
          },
          "data": {
            "type": "object",
            "properties": {
              "records": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/WalkRecord" }
              },
              "pagination": {
                "type": "object",
                "properties": {
                  "totalCount": { "type": "integer", "example": 50 },
                  "currentPage": { "type": "integer", "example": 1 },
                  "pageSize": { "type": "integer", "example": 10 },
                  "totalPages": { "type": "integer", "example": 5 }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Auth", "description": "인증 관련 API" },
    { "name": "Users", "description": "사용자 관리 API" },
    { "name": "Courses", "description": "코스 관리 API" },
    { "name": "Walks", "description": "산책 기록 API" },
    { "name": "Photos", "description": "사진 관리 API" },
    { "name": "Photozones", "description": "포토존 관리 API" },
    { "name": "MarkingPhotos", "description": "마킹 포토 및 포토존 관련 API" },
    {
      "name": "Onboarding",
      "description": "온보딩 과정에서 필요한 API (위치/견종 검색)"
    },
    { "name": "Upload", "description": "이미지 업로드 관련 API" }
  ],
  "paths": {
    "/api/v1/auth/kakao": {
      "post": {
        "tags": ["Auth"],
        "summary": "카카오 액세스 토큰으로 로그인/회원가입",
        "description": "클라이언트에서 받은 유효한 카카오 액세스 토큰으로 로그인하거나 신규 회원가입을 처리합니다. 토큰은 `Authorization` 헤더에 `Bearer {token}` 형식으로 전달해야 합니다.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "로그인 성공 또는 회원가입",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" },
                "example": {
                  "success": true,
                  "message": "카카오 로그인이 성공적으로 완료되었습니다.",
                  "data": {
                    "userId": "uuid-of-user",
                    "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "isNewUser": false,
                    "isProfileSetupCompleted": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 요청 (토큰 누락 등)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "message": "Authorization 헤더에 Bearer 토큰이 필요합니다."
                }
              }
            }
          },
          "401": {
            "description": "유효하지 않은 카카오 토큰",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "message": "유효하지 않은 카카오 토큰입니다."
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/token/refresh": {
      "post": {
        "tags": ["Auth"],
        "summary": "액세스 토큰 갱신",
        "description": "만료된 액세스 토큰을 리프레시 토큰을 사용하여 갱신합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["refreshToken"],
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "description": "리프레시 토큰",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJ1c2VyMTIzIiwiaWF0IjoxNjMyNzk2MzY2LCJleHAiOjE2MzM0MDE1NjZ9.G31Jk-..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "토큰 갱신 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" },
                "example": {
                  "success": true,
                  "message": "액세스 토큰이 성공적으로 갱신되었습니다.",
                  "data": {
                    "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJ1c2VyMTIzIiwiaWF0IjoxNjMyNzk2MzY2LCJleHAiOjE2MzI4MjQ3NjZ9.G31Jk...",
                    "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJ1c2VyMTIzIiwiaWF0IjoxNjMyNzk2MzY2LCJleHAiOjE2MzM0MDE1NjZ9.G31Jk-..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "리프레시 토큰 누락",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "message": "리프레시 토큰이 필요합니다."
                }
              }
            }
          },
          "401": {
            "description": "유효하지 않은 리프레시 토큰",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "message": "유효하지 않은 리프레시 토큰입니다."
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": ["Auth"],
        "summary": "로그아웃",
        "description": "사용자의 세션을 로그아웃 처리합니다. JWT는 Stateless이므로 서버에서 토큰을 만료시킬 수 없습니다. 클라이언트에서 토큰을 삭제하면 됩니다. 이 API는 주로 로그 기록용으로 사용됩니다.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "로그아웃 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" },
                "example": {
                  "success": true,
                  "message": "성공적으로 로그아웃되었습니다."
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/courses/recommendations": {
      "get": {
        "tags": ["Courses"],
        "summary": "우리 동네 추천 코스 목록 조회",
        "description": "현재 위치를 기준으로 주변 추천 코스 요약 목록을 조회합니다.",
        "parameters": [
          {
            "in": "query",
            "name": "latitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float",
              "example": 37.5665
            }
          },
          {
            "in": "query",
            "name": "longitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float",
              "example": 126.978
            }
          },
          {
            "in": "query",
            "name": "radius",
            "schema": {
              "type": "integer",
              "default": 2000,
              "description": "검색반경(미터)"
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": ["tailcopterScoreDesc", "recent"],
              "default": "tailcopterScoreDesc",
              "description": "정렬 기준. 꼬리콥터 점수 내림차순 또는 최신순"
            }
          },
          {
            "in": "query",
            "name": "areaName",
            "schema": {
              "type": "string",
              "description": "지역명 (예: 서울특별시 중구)"
            }
          },
          {
            "in": "query",
            "name": "petSize",
            "schema": {
              "type": "string",
              "enum": ["SMALL", "MEDIUM", "LARGE", "ALL"],
              "description": "추천 견종 크기"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "description": "페이지 번호"
            }
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "default": 10,
              "description": "페이지당 항목 수"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "추천 코스 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CourseListResponse" }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 요청 (위도/경도 누락)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/courses/{courseId}": {
      "get": {
        "tags": ["Courses"],
        "summary": "코스 상세 정보 조회",
        "description": "특정 코스의 상세 정보를 조회합니다. 경로, 특징, 평균 점수 등이 포함됩니다.",
        "parameters": [
          {
            "in": "path",
            "name": "courseId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "코스의 고유 ID",
              "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "코스 상세 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 요청 (코스 ID 누락)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "코스를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/courses/{courseId}/marking-photozones": {
      "get": {
        "tags": ["Courses"],
        "summary": "코스 내 마킹 포토존 정보 조회",
        "description": "특정 코스 내에 위치한 마킹 포토존 목록을 조회합니다.",
        "parameters": [
          {
            "in": "path",
            "name": "courseId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "코스의 고유 ID",
              "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "마킹 포토존 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoursePhotozoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 요청 (코스 ID 누락)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "코스를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/courses/new/details": {
      "get": {
        "tags": ["Courses"],
        "summary": "새 코스 등록을 위한 기본 정보 조회",
        "description": "산책 기록 ID를 바탕으로 새로운 코스 등록 시 필요한 기본 정보(경로, 거리, 시간 등)를 미리 조회합니다.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "walkRecordId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "코스를 생성할 산책 기록의 고유 ID",
              "example": "c2d3e4f5-g6h7-8901-2345-67890abcdef1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "기본 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewCourseDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 요청 (산책 기록 ID 누락)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "404": {
            "description": "산책 기록을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/courses/new": {
      "post": {
        "tags": ["Courses"],
        "summary": "새로운 코스 최종 등록",
        "description": "산책 기록과 코스 정보를 최종 등록하여 새로운 코스를 생성합니다.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "walkRecordId",
                  "courseName",
                  "difficulty",
                  "recommendedPetSize"
                ],
                "properties": {
                  "walkRecordId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "코스 생성의 기반이 되는 산책 기록 ID",
                    "example": "c2d3e4f5-g6h7-8901-2345-67890abcdef1"
                  },
                  "courseName": {
                    "type": "string",
                    "maxLength": 10,
                    "description": "코스의 이름",
                    "example": "우리 동네 한바퀴"
                  },
                  "difficulty": {
                    "type": "string",
                    "enum": ["상", "중", "하"],
                    "description": "코스의 난이도",
                    "example": "중"
                  },
                  "recommendedPetSize": {
                    "type": "string",
                    "enum": ["SMALL", "MEDIUM", "LARGE"],
                    "description": "추천 견종 크기",
                    "example": "MEDIUM"
                  },
                  "selectedFeatures": {
                    "type": "array",
                    "items": { "type": "string", "maxLength": 5 },
                    "description": "코스 특징 목록",
                    "maxItems": 3,
                    "example": ["물가", "벤치"]
                  },
                  "coverImageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "코스 대표 이미지 URL (선택적)",
                    "example": "https://example.com/course_images/my_course_cover.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "코스 등록 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "새로운 코스 정보가 성공적으로 등록되었습니다."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "courseId": {
                          "type": "string",
                          "format": "uuid",
                          "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                        },
                        "courseName": {
                          "type": "string",
                          "example": "우리 동네 한바퀴"
                        },
                        "difficulty": { "type": "string", "example": "NORMAL" },
                        "recommendedPetSize": {
                          "type": "string",
                          "example": "MEDIUM"
                        },
                        "courseLengthMeters": {
                          "type": "integer",
                          "example": 2500
                        },
                        "estimatedDurationSeconds": {
                          "type": "integer",
                          "example": 3600
                        },
                        "pathCoordinates": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "latitude": { "type": "number" },
                              "longitude": { "type": "number" }
                            }
                          }
                        },
                        "coverImageUrl": {
                          "type": "string",
                          "format": "uri",
                          "example": "https://example.com/course_cover.jpg"
                        },
                        "selectedFeatures": {
                          "type": "array",
                          "items": { "type": "string" },
                          "example": ["물가", "벤치"]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-08-09T12:00:00Z"
                        },
                        "walkRecordId": {
                          "type": "string",
                          "format": "uuid",
                          "example": "c2d3e4f5-g6h7-8901-2345-67890abcdef1"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 요청 (필수값 누락, 유효성 검증 실패 등)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "enum": [
                        "산책 기록 ID가 필요합니다.",
                        "코스명이 필요합니다.",
                        "난이도가 필요합니다.",
                        "추천 견종 크기가 필요합니다.",
                        "코스명은 최대 10자까지 입력 가능합니다.",
                        "특징명은 최대 5자까지 입력 가능합니다."
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "MISSING_WALK_RECORD_ID",
                        "MISSING_COURSE_NAME",
                        "MISSING_DIFFICULTY",
                        "MISSING_RECOMMENDED_PET_SIZE",
                        "COURSE_NAME_TOO_LONG",
                        "FEATURE_NAME_TOO_LONG"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "인증이 필요합니다."
                    },
                    "code": { "type": "string", "example": "UNAUTHORIZED" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "산책 기록 또는 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "enum": [
                        "지정된 산책 기록을 찾을 수 없습니다.",
                        "코스 생성자를 찾을 수 없습니다."
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["WALK_RECORD_NOT_FOUND", "CREATOR_NOT_FOUND"]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "새로운 코스 정보 최종 등록 중 오류가 발생했습니다."
                    },
                    "code": {
                      "type": "string",
                      "example": "COURSE_CREATE_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/marking-photos": {
      "post": {
        "tags": ["MarkingPhotos"],
        "summary": "새로운 마킹 포인트 등록",
        "description": "산책 중 마킹 버튼을 눌러 새로운 포토존을 생성하고 사진을 등록합니다.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "walkRecordId",
                  "latitude",
                  "longitude",
                  "photoUrl"
                ],
                "properties": {
                  "walkRecordId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "산책 기록 고유 ID",
                    "example": "1a2b3c4d-5e6f-7890-1234-567890abcdef"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "double",
                    "description": "사진을 찍은 위치의 위도",
                    "example": 37.5665
                  },
                  "longitude": {
                    "type": "number",
                    "format": "double",
                    "description": "사진을 찍은 위치의 경도",
                    "example": 126.978
                  },
                  "photoUrl": {
                    "type": "string",
                    "description": "업로드된 사진의 URL",
                    "example": "https://example.com/photos/123.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "마킹 포인트 등록 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" },
                "example": {
                  "success": true,
                  "message": "마킹 포인트가 성공적으로 등록되었습니다.",
                  "data": {
                    "markingPhotoId": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                    "photozoneId": "7d6480c0-6218-472d-8b06-444c18f6d6f2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (필수 필드 누락)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "404": {
            "description": "산책 기록을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/marking-photozones/{photozoneId}": {
      "get": {
        "tags": ["MarkingPhotos"],
        "summary": "마킹 포토존 상세 정보 조회",
        "description": "포토존 ID를 통해 포토존의 상세 정보와 해당 포토존에 등록된 모든 사진을 조회합니다.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "photozoneId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "조회할 마킹 포토존의 고유 ID",
              "example": "7d6480c0-6218-472d-8b06-444c18f6d6f2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "포토존 상세 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotozoneDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (포토존 ID 누락)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "404": {
            "description": "포토존을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/marking-photozones/{photozoneId}/photos": {
      "post": {
        "tags": ["MarkingPhotos"],
        "summary": "기존 마킹 포토존에 사진 추가",
        "description": "이미 존재하는 포토존에 새로운 사진을 추가합니다.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "photozoneId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "사진을 추가할 마킹 포토존의 고유 ID",
              "example": "7d6480c0-6218-472d-8b06-444c18f6d6f2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["photoUrl", "walkRecordId"],
                "properties": {
                  "photoUrl": {
                    "type": "string",
                    "description": "업로드된 사진의 URL",
                    "example": "https://example.com/photos/456.jpg"
                  },
                  "walkRecordId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "산책 기록 고유 ID",
                    "example": "1a2b3c4d-5e6f-7890-1234-567890abcdef"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "포토존에 사진 추가 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" },
                "example": {
                  "success": true,
                  "message": "포토존에 사진이 성공적으로 추가되었습니다.",
                  "data": {
                    "photoId": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                    "photozoneId": "7d6480c0-6218-472d-8b06-444c18f6d6f2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (필수 필드 누락)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "404": {
            "description": "포토존을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/locations/search": {
      "get": {
        "tags": ["Onboarding"],
        "summary": "위치 검색",
        "description": "사용자가 선호하는 위치를 검색합니다.",
        "parameters": [
          {
            "in": "query",
            "name": "keyword",
            "required": true,
            "schema": {
              "type": "string",
              "description": "검색할 위치 키워드(도로명 주소)",
              "example": "백제대로 567"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "위치 검색 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "위치 검색이 완료되었습니다."
                    },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Location" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (키워드 누락)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/breeds/search": {
      "get": {
        "tags": ["Onboarding"],
        "summary": "견종 검색",
        "description": "사용자가 반려견의 견종을 검색합니다.",
        "parameters": [
          {
            "in": "query",
            "name": "keyword",
            "required": false,
            "schema": {
              "type": "string",
              "description": "검색할 견종 키워드 (선택 사항)",
              "example": "푸들"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "견종 검색 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "견종 검색이 완료되었습니다."
                    },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Breed" }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/upload/presigned-url": {
      "post": {
        "tags": ["Upload"],
        "summary": "S3 업로드용 Presigned URL 생성",
        "description": "이미지 파일을 S3에 업로드하기 위한 Presigned URL을 생성합니다. 클라이언트는 이 URL을 사용해 직접 S3에 파일을 업로드할 수 있습니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PresignedUrlRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presigned URL 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresignedUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (필수 파라미터 누락 또는 유효하지 않은 파일 타입)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/terms": {
      "get": {
        "tags": ["Users"],
        "summary": "약관 목록 조회",
        "description": "모든 약관 목록을 조회합니다.",
        "responses": { "200": { "description": "약관 목록 조회 성공" } }
      }
    },
    "/api/v1/users/me/terms": {
      "post": {
        "tags": ["Users"],
        "summary": "사용자 약관 동의 상태 저장",
        "description": "사용자가 동의한 약관 ID 목록을 저장합니다.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgreeToTermsRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "약관 동의 저장 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" },
                "example": {
                  "success": true,
                  "message": "약관 동의가 저장되었습니다."
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (필수 필드 누락)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/profile": {
      "put": {
        "tags": ["Users"],
        "summary": "사용자 프로필 업데이트",
        "description": "반려동물 정보, 선호 위치 등 사용자의 프로필 정보를 업데이트합니다.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateProfileRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "프로필 업데이트 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" },
                "example": {
                  "success": true,
                  "message": "프로필이 업데이트되었습니다.",
                  "data": { "isProfileSetupCompleted": true }
                }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Users"],
        "summary": "사용자 및 반려동물 프로필 정보 조회",
        "description": "마이페이지 또는 프로필 편집 화면에서 사용할 상세 프로필 정보를 조회합니다.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "상세 프로필 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/UserProfile" }
                  }
                }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/summary-profile": {
      "get": {
        "tags": ["Users"],
        "summary": "대표 반려동물 이름 및 아이콘 정보 조회 (메인 화면용)",
        "description": "메인 화면에 표시할 사용자의 간단한 프로필 정보를 조회합니다.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "요약 프로필 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/ProfileSummary" }
                  }
                }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/walk-records": {
      "get": {
        "tags": ["Users"],
        "summary": "사용자의 모든 산책 기록 목록 조회",
        "description": "사용자가 기록한 산책 기록의 목록을 페이지네이션과 함께 조회합니다.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "페이지 번호 (기본값: 1)",
              "example": 1
            }
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "페이지당 항목 수 (기본값: 10)",
              "example": 10
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": ["created_at", "distance", "duration"],
              "description": "정렬 기준 (기본값: created_at)",
              "example": "created_at"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "산책 기록 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalkRecordsResponse" }
              }
            }
          },
          "401": { "description": "인증 실패" },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/walk-records": {
      "post": {
        "summary": "산책 시작",
        "tags": ["Walk Records"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "walk_type": {
                    "type": "string",
                    "enum": ["EXISTING_COURSE", "NEW_COURSE"],
                    "description": "산책 유형 (기존 코스 또는 자유 산책)"
                  },
                  "course_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "EXISTING_COURSE 선택 시 필수, NEW_COURSE 시 NULL"
                  }
                },
                "required": ["walk_type"],
                "example": { "walk_type": "NEW_COURSE" }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "산책이 성공적으로 시작되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "산책이 시작되었습니다."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "walk_record_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "STARTED",
                            "PAUSED",
                            "COMPLETED",
                            "CANCELED",
                            "ABANDONED"
                          ]
                        },
                        "start_time": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "잘못된 요청 (e.g., 코스 ID 누락)" },
          "401": { "description": "인증 실패" },
          "500": { "description": "서버 오류" }
        }
      }
    },
    "/api/v1/walk-records/{walkRecordId}/track": {
      "patch": {
        "summary": "산책 경로 및 데이터 주기적 업데이트",
        "tags": ["Walk Records"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "walkRecordId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "산책 기록 고유 ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPathCoordinates": {
                    "type": "array",
                    "items": { "type": "array", "items": { "type": "number" } },
                    "description": "현재까지의 누적 산책 경로 좌표"
                  },
                  "currentDistanceMeters": {
                    "type": "number",
                    "description": "현재까지의 누적 산책 거리 (미터)"
                  },
                  "currentDurationSeconds": {
                    "type": "number",
                    "description": "현재까지의 누적 산책 시간 (초)"
                  }
                },
                "example": {
                  "currentPathCoordinates": [
                    [37.5665, 126.978],
                    [37.5667, 126.9782]
                  ],
                  "currentDistanceMeters": 1200,
                  "currentDurationSeconds": 600
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "좌표가 성공적으로 저장되었습니다." },
          "400": {
            "description": "잘못된 요청 (e.g., 좌표 형식이 올바르지 않음)"
          },
          "404": { "description": "산책 기록을 찾을 수 없습니다." },
          "500": { "description": "서버 오류" }
        }
      }
    },
    "/api/v1/walk-records/{walkRecordId}/status": {
      "patch": {
        "summary": "산책 상태 변경 (일시정지/재개 등)",
        "tags": ["Walk Records"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "walkRecordId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "산책 기록 고유 ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "STARTED",
                      "PAUSED",
                      "COMPLETED",
                      "CANCELED",
                      "ABANDONED"
                    ],
                    "description": "변경할 산책 상태"
                  }
                },
                "example": { "status": "PAUSED" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "산책 상태가 성공적으로 변경되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "산책 상태가 PAUSED로 변경되었습니다."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "walkRecordId": { "type": "string", "format": "uuid" },
                        "newStatus": {
                          "type": "string",
                          "enum": [
                            "STARTED",
                            "PAUSED",
                            "COMPLETED",
                            "CANCELED",
                            "ABANDONED"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "잘못된 요청 (유효하지 않은 상태값)" },
          "401": { "description": "인증 실패" },
          "404": { "description": "산책 기록을 찾을 수 없습니다." },
          "500": { "description": "서버 오류" }
        }
      }
    },
    "/api/v1/walk-records/{walkRecordId}/end": {
      "put": {
        "summary": "산책 종료",
        "tags": ["Walk Records"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "walkRecordId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "산책 기록 고유 ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "finalDurationSeconds": {
                    "type": "integer",
                    "description": "최종 산책 시간(초)"
                  },
                  "finalDistanceMeters": {
                    "type": "integer",
                    "description": "최종 산책 거리(미터)"
                  },
                  "finalPathCoordinates": {
                    "type": "array",
                    "items": { "type": "array", "items": { "type": "number" } },
                    "description": "최종 산책 경로 좌표 리스트"
                  }
                },
                "required": [
                  "finalDurationSeconds",
                  "finalDistanceMeters",
                  "finalPathCoordinates"
                ],
                "example": {
                  "finalDurationSeconds": 3600,
                  "finalDistanceMeters": 5000,
                  "finalPathCoordinates": [
                    [37.5665, 126.978],
                    [37.5667, 126.9782]
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "산책이 성공적으로 종료되고 경로가 분석되었습니다."
          },
          "404": { "description": "산책 기록을 찾을 수 없습니다." },
          "500": { "description": "서버 오류" }
        }
      }
    },
    "/api/v1/walk-records/{walkRecordId}/score": {
      "put": {
        "summary": "꼬리콥터 점수 저장",
        "description": "꼬리콥터 직후 즉시 점수를 저장합니다.",
        "tags": ["Walk Records"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "walkRecordId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "산책 기록 고유 ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tailcopterScore": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "꼬리콥터 점수"
                  }
                },
                "required": ["tailcopterScore"],
                "example": { "tailcopterScore": 12500 }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "꼬리콥터 점수가 성공적으로 저장되었습니다."
          },
          "400": { "description": "잘못된 요청 (e.g., 점수가 유효하지 않음)" },
          "404": { "description": "산책 기록을 찾을 수 없습니다." },
          "500": { "description": "서버 오류" }
        }
      }
    },
    "/api/v1/walk-records/{walkRecordId}/save": {
      "post": {
        "summary": "산책 기록 최종 저장 (일지 저장)",
        "description": "산책 후에 산책 거리, 마킹 수, 꼬리 점수, 경로 이미지 등을 저장합니다.\n\"title\" 필드는 선택 사항입니다. 입력하지 않으면 서버에서 자동으로 생성됩니다.\n\n- \"코스 등록된 경우: '{반려견 이름}과 함께한 {코스명} 코스' 형식으로 제목 자동 생성\"\n- \"코스 미등록인 경우: '{반려견 이름}과 함께한 즐거운 산책' 형식으로 제목 자동 생성\"\n",
        "tags": ["Walk Records"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "walkRecordId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "산책 기록 고유 ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "nullable": true,
                    "description": "산책 일지 제목 (미입력 시 자동 생성)"
                  },
                  "walkDate": {
                    "type": "string",
                    "format": "date",
                    "nullable": true,
                    "description": "산책 날짜 (YYYY-MM-DD)"
                  },
                  "pathImageUrl": {
                    "type": "string",
                    "nullable": true,
                    "description": "산책 경로 이미지 URL"
                  },
                  "distanceMeters": {
                    "type": "integer",
                    "description": "최종 산책 거리(미터)"
                  },
                  "markingCount": {
                    "type": "integer",
                    "description": "최종 마킹 횟수"
                  },
                  "tailcopterScore": {
                    "type": "integer",
                    "description": "최종 꿈리콥터 점수"
                  }
                },
                "required": [
                  "distanceMeters",
                  "markingCount",
                  "tailcopterScore"
                ],
                "example": {
                  "title": "새로운 산책 일지",
                  "walkDate": "2023-10-27",
                  "pathImageUrl": "http://example.com/path.png",
                  "distanceMeters": 5500,
                  "markingCount": 3,
                  "tailcopterScore": 12500
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "산책 기록이 성공적으로 저장되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "산책 기록이 성공적으로 저장되었습니다."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "walkRecordId": { "type": "string", "format": "uuid" },
                        "petName": { "type": "string" },
                        "title": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "잘못된 요청 (e.g., 이미 저장된 기록)" },
          "404": { "description": "산책 기록을 찾을 수 없습니다." },
          "500": { "description": "서버 오류" }
        }
      }
    },
    "/api/v1/walk-records/{walkRecordId}/details": {
      "get": {
        "summary": "산책 일지 상세 정보 조회",
        "tags": ["Walk Records"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "walkRecordId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "산책 기록 고유 ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "산책 일지 상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "walk_record_id": { "type": "string", "format": "uuid" },
                    "user_id": { "type": "string", "format": "uuid" },
                    "course": {
                      "type": "object",
                      "properties": { "course_name": { "type": "string" } }
                    },
                    "markingPhotos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "marking_photo_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "photo_url": { "type": "string", "format": "url" },
                          "photozone": {
                            "type": "object",
                            "properties": {
                              "photozone_name": { "type": "string" }
                            }
                          }
                        }
                      }
                    },
                    "path_image_url": { "type": "string", "format": "url" },
                    "title": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "산책 경로 이미지가 존재하지 않습니다." },
          "404": { "description": "산책 기록을 찾을 수 없습니다." },
          "500": { "description": "서버 오류" }
        }
      }
    }
  }
}
