/* ¤ld (00 */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* @Ü¸ `ÈTtX */
.bottom-sheet-transition {
  transition: transform 0.3s ease-out, height 0.3s ease-out;
}